# Upon entering directory, direnv requests user permission once to automatically load project dependencies onwards.
# Eliminating the need of running "nix develop github:superherointj/nix-Objectivize" for Nix users to develop/use Objectivize.

[[ -z $IN_NIX_SHELL ]] && use flake github:superherointj/nix-Objectivize
